﻿@CHARSET "UTF-8";
/***基本图标***/
.tabpanel_home{background: url(../images/icon/tabpanel_home.png) left center no-repeat !important;}
.cmp{background: url(../images/icon/cmp.gif) left center no-repeat !important;}
.set_add{background: url(../images/icon/set_add.png) left center no-repeat !important;}
.list{background: url(../images/icon/list.png) left center no-repeat !important;}

.look{background: url(../images/icon/btn_look.gif) left center no-repeat !important;}
.copy{background: url(../images/icon/btn-copy.gif) left center no-repeat !important;}
.add{background: url(../images/icon/btn_add.gif) left center no-repeat !important;}
.edit{background: url(../images/icon/btn_edit.gif) left center no-repeat !important;}
.del{background: url(../images/icon/btn_delete.gif) left center no-repeat !important;}
.reset{background: url(../images/icon/btn_reset.gif) left center no-repeat !important;}
.xls{background: url(../images/icon/btn_excel.gif) left center no-repeat !important;}
.db{background: url(../images/icon/btn_db.gif) left center no-repeat !important;}
.version{background: url(../images/icon/btn_version_rep.gif) left center no-repeat !important;}
.column{background: url(../images/icon/columns.gif) left center no-repeat !important;}
.zj{background: url(../images/icon/btn_zj.gif) left center no-repeat !important;}
.set{background: url(../images/icon/btn_set.png) left center no-repeat !important;}
.table{background: url(../images/icon/table.png) left center no-repeat !important;}
.refresh{background: url(../images/icon/action_refresh_blue.gif) left center no-repeat !important;}
.close{background: url(../images/icon/btn_close.png) left center no-repeat !important;}
.user{background: url(../images/icon/user.gif) left center no-repeat !important;}
.confirm{background: url(../images/icon/btn_cgtj.gif) left center no-repeat !important;}
.save{background: url(../images/icon/btn_save.gif) left center no-repeat !important;}
.link{background: url(../images/icon/mylink.png) left center no-repeat !important;}

.monitor{background: url(../images/icon/monitor.png) left center no-repeat !important;}
.monitor_delete{background: url(../images/icon/monitor_delete.png) left center no-repeat !important;}
.monitor_error{background: url(../images/icon/monitor_error.png) left center no-repeat !important;}
.power_off{background: url(../images/icon/power_off.gif) left center no-repeat !important;}
.loading{background: url(../images/icon/grid-loading.gif) left center no-repeat !important;}